body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #121212; /* Fondo oscuro */
    color: #e0e0e0; /* Texto claro */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f1f1f; /* Color de fondo del encabezado */
    color: #fff;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header .logo img {
    height: 50px;
}

header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
}

header nav ul li a:hover {
    background-color: #333;
}

.hero {
    text-align: center;
    background: url('https://images.unsplash.com/photo-1593642532973-d31b6557fa68?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80') no-repeat center center/cover;
    color: #fff;
    padding: 150px 20px; /* Ajustar el padding para que se vea bien con el encabezado fijo */
    margin-top: 70px; /* Espacio para el encabezado fijo */
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.hero span {
    color: #FFD700;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.hero .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FFD700;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
}

.hero .button:hover {
    background-color: #e6c200;
}

main {
    padding: 20px;
    margin-top: 70px; /* Espacio para el encabezado fijo */
    text-align: center; /* Centramos el texto en todas las secciones */
}

h2 {
    color: #FFD700;
}

ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

ul li {
    background: #333;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

footer {
    background-color: #1f1f1f;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

img {
    width: 100%;
    height: auto;
    margin: 10px 0;
}
