body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #006699;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

main {
    padding: 20px;
}

h2 {
    color: #006699;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: #e4e4e4;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

footer {
    background-color: #006699;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
}

#introduccion {
    background-color: #eef7ff;
    padding: 20px;
    border-radius: 10px;
}

#beneficios {
    background-color: #d6eaf8;
    padding: 20px;
    border-radius: 10px;
}

#servicios {
    background-color: #aed6f1;
    padding: 20px;
    border-radius: 10px;
}

#eventos {
    background-color: #aed6f1;
    padding: 20px;
    border-radius: 10px;
}

#contacto {
    background-color: #5dade2;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
}
